<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h2 class="text-center">Ma famille</h2>
      <hr>
      <div class="row">
      <% @orders.each do |order| %>
        <div class="cards-myplants col-md-6">
        <div class="cards-order">
          <div class="card-order">
            <img src="/images/composition/planteMpot2.jpg" alt="">
            <div class="card-order-infos">
              <h3><%= order.composition_nickname %></h3>
              <p>adoper le <%=order.created_at.strftime('%d-%m-%y')%></p>
              
            </div>
          </div>
        </div>
        </div>
      <% end %>
      </div>
      <div class="profile-end">&nbsp;</div>
      <div class="text-center">
        <button type="button" class="btn btn-outline-primary">Adopte une plante de plus</button>
      </div>
      <div class="profile-end">&nbsp;</div>
    </div>
  </div>
</div>