// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #EEEEEE;
$middle-gray: #393E46;
$dark-gray: #222831;
$light-green: #7BC74D;
$dark-green: #27B02C;
