.profile-container {
  padding-left: 100px;
  padding-right: 100px;
}

.profile-container h2 {
  padding-top: 30px;
  font-weight: 300;
}
.profile-container h2 a{
  font-size: 20px;
}

.profile-end{
  height: 50px;
}