<div id="variant-picture">
  <% unless variant.nil? %> 
    <%= cl_image_tag(variant&.findphoto, width: 100, height: 100, class: "mx-auto d-block") %>
  <% else %>
    <%= cl_image_tag("Adopte1plante/default.png", width: 100, height: 100, class: "mx-auto d-block") %>
  <% end %>
</div>