<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2">
      <h1>Compositions#new</h1>

      <div>
        <div class="row">
          <div class="col">
            text titre
            <%= params[:format] %>
          </div>
        </div>
        <div class="row">

        </div>
      </div> 
      
    </div> 
  </div> 
</div> 