
<div class="container">
  <div class="content-composition">
    <div class="composition-title">
      <h1>Calathea Makoyana</h1>
      <p>Plante Paon</p>
    </div>
    <div class="composition-grid">
      <div class="composition-grid-main">
        <div class="composition_cards">
          <div class="card-main" style="background-image: url(https://images.unsplash.com/photo-1416339411116-62e1226aacd8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
            <div class="card-main-size-box">
              <div class="card-main-size">S</div>
              <div href="" class="card-main-size-disable">M</div>
              <div href="" class="card-main-size-disable">L</div>
            </div>
          </div>
        </div>
      </div>
      <% 3.times do %>
        <div class="composition_cards">
          <div class="card-pot-contain" style="background-image: url(https://images.unsplash.com/photo-1463320898484-cdee8141c787?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)">
            <div class="card-pot-footer">
              pot
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="composition-detail">
      <div class="composition-detail-left">
        <p><i class="fas fa-tint"></i> 1xWeek</p>
        <p><i class="fas fa-cloud-sun"></i> Plutot a l’ombre</p>
      </div>
      <div class="composition-detail-right">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#compositionModal">25€</button>
          <button type="button" class="btn btn-primary">Je la veux</button>
        </div>
      </div>
    </div>
    <div class="composition-description">
      <h3 class="description-title">Fiche botanique</h3>
      <p>
        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mnyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, m
      </p>
    </div>
  </div>
</div>


<%= render '/compositions/compositionModal' %>