// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
.main-content {
  min-height: calc(100vh - 160px);
}
.container{
  background-color: white;
  min-height: calc(100vh - 160px);
}