<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-links footer-text">
    <a href="#">Contactez-nous</a>
    <a href="#">A propos</a>
    <a href="#">CGV</a>
    <a href="#">Mentions légales</a>
  </div>
</div>