<div class="container">
  <div class="grid">
    <div class="col">
      <br/>
      <div class="product-content">
        <%= render 'potform', product: @pot %>
      </div>
    </div>

    <div class="card-variant-L">
      <div class="card col">
        <%= render 'cardvariant', variant: @pot.givevariant("L"), format: "L", addr: "Adopte1plante/addvariantL.png" %>
      </div>
    </div>

    <div class="card-variant-M">
      <div class="card col">
        <%= render 'cardvariant', variant: @pot.givevariant("M"), format: "M", addr: "Adopte1plante/addvariantM.png" %>
      </div>
    </div>

    <div class="card-variant-S">
      <div class="card col">
        <%= render 'cardvariant', variant: @pot.givevariant("S"), format: "S", addr: "Adopte1plante/addvariantS.png" %>
      </div>
    </div>

  </div>
</div>
