<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 offset-sm-2">
      <h1>Pot#edit</h1>
      <div class="col">
        <%= render 'potform', pot: @pot %>
      </div>
    </div>
  </div>
</div>