<div class="banner-home" style = "background-image: url(<%= image_path("home2.jpg") %>)">
  <div class="left-title">
    <p> Recherche plante de qualitée, préparée proche de chez moi, par des fleuristes experts </p>
    <br>
      <input  type="text" class="input" placeholder="#Findyourplant" aria-label="Find your dream plant" aria-describedby="button-addon2">
    </div> 
  </div>
</div> 