<div class="banner-home" style = "background-image: url(<%= image_path("home2.jpg") %>)">
  <div class="left-title">
    <p> Adoptez une plante à votre image, unique et préparée proche de chez vous </p>
    <br>
      <input  type="text" class="input" placeholder="#Findyourplant" aria-label="Find your dream plant" aria-describedby="button-addon2">
    </div> 
  </div>
</div> 


<div class="wrapper-home">

<p> I love les plantes </p>
</div>

