<div class="banner-home"  style = "background-image: linear-gradient(to bottom, rgba(255,255,255,0.0) 90%, rgba(255,255,255,1)), url(<%= image_path("home2.jpg") %>)">
  <div class="left-title animated">
    <p> Adoptez une plante à votre image, unique et préparée proche de chez vous </p>
    <br>
      <input id="banner-typed-text" type="text" class="input" placeholder="" aria-label="Find your dream plant" aria-describedby="button-addon2">
    </div> 
  </div>
</div> 


<div class="wrapper-home">
  <%# <p class="text-center"> Nos compositions en vogue</p> %>
  <div class="row">
    <% 4.times do %>
      <div class="cards col-sm-3 col-xs-6">
        <div class="card">
          <div class="card-content" style = "background-image: url(<%=image_path("plantest.png")%>)">
          </div>
          <div class="card-footerz hidden animated">
            <div class="card-footerz-title"> Calathea Makoyana </div>
            <div class="card-footerz-title2">Plante Paon </div> 
            <div class="card-footerz-price"> A partir de 5€ </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

        <div class="col text-center">
            <button type="button" class="btn btn-outline-primary" id="margintop">Voir plus de suggestions</button>
        </div>
</div>



<div class="wrapper-home-bottom" style= "background-image: linear-gradient(rgba(255, 255, 255, 0.616), rgba(255, 255, 255, 0.616)), url(<%=image_path("homedownpage.jpg")%>)">
  <div class="text-center">
    <h2> Partagez vos créations !</h2>
    <h3> #AdopteUnePlante </h3>
  </div>
  <div class="row">
    <% 4.times do %>
      <div class="col-sm-3 col-xs-6 polaroids">
        <div class="polaroid">
          <div class="polaroid-content">
            <%= image_tag('plantest2.png', style: 'width:100%') %>
          </div>
          <div class="polaroid-footer text-center">
           <p> #maranta #zamioculcas </p>
          </div>
          <a class="polaroid-link" href=""></a>
        </div>
      </div>
    <% end %>
  </div>
</div>



