<!-- Modal -->
<div class="modal fade" id="compositionModal" tabindex="-1" role="dialog" aria-labelledby="compositionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ce qui est inclus :</h5>
      </div>
      <div class="modal-body">
          <p id="taille">
            La plante de taille M
          </p>
          <p id="diametre">
            Le pot de diamètre 20 cm
          </p>
          <p>
            Le substrat adapté
          </p>
          <p>
            La préparation par un professionnel
          </p>
          <p>
            Le retrait chez un commerçant “partenaire”
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>