<div class="container">
  <div class="grid">
    <div class="col">
      <br/>
      <div class="product-content">
        <%= render 'plantform', product: @plant %>
      </div>
    </div>

    <div class="card-variant-L">
      <div class="card col">
        <%= render 'cardvariant', variant: @plant.givevariant("L"), format: "L" %>
      </div>
    </div>

    <div class="card-variant-M">
      <div class="card col">
        <%= render 'cardvariant', variant: @plant.givevariant("M"), format: "M" %>
      </div>
    </div>

    <div class="card-variant-S">
      <div class="card col">
        <%= render 'cardvariant', variant: @plant.givevariant("S"), format: "S" %>
      </div>
    </div>

  </div>
</div>


