<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2">
      <h1>Plants#index</h1>
      <ul>
        <% @plants.each do |plant| %>
          <li>
            <%= "Id_code (taxref_id) = " + plant.id_code.to_s + " - " + plant.gender + " " + plant.species %>
            <%= link_to edit_plant_path(plant) do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to plant_path(plant), method: :delete, data: {:confirm => "Are you sure to delete -" + plant.gender + "- ?"} do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% if policy(Plant).create? %>
        <%= link_to "Create a new plant", new_plant_path,class: "btn btn-primary"  %>
      <% end %>
    </div>
  </div>
</div>