<!-- Modal -->
<div class="modal fade" id="compositionModal" tabindex="-1" role="dialog" aria-labelledby="compositionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ce qui est inclus :</h5>
      </div>
      <div class="modal-body">
        <ul>
          <li>
            La plante - taille M
          </li>
          <li>
            Le pot - diamètre 20 cm
          </li>
          <li>
            Le substrat adapté
          </li>
          <li>
            La préparation par un professionnel
          </li>
          <li>
            Le retrait chez un commerçant “partenaire”
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>