<ul>
<% @variants.each do |variant| %>
  <li><%= variant.product.category.name %>: <%= link_to variant.height_format , variant_path(variant)  %> - <%= humanized_money_with_symbol(variant.price) %></li>
<% end %>
</ul>