
.banner-home{
  height: calc(100vh);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // background-attachment: fixed
  display: flex;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.center-title { 
    position: absolute;
    width: 50%; 
    p {
      text-decoration: none;
      justify-content: center;
      font-size: 35px;
      color: $dark-gray;
      font-weight: 300;
      padding-bottom: 40px;
      position: absolute;
      bottom: 44px;
    }
}


.choices__inner {
  background-color: white !important;
  border-radius: 0px;
  border: 1px solid $dark-gray !important;
  border-radius: 0px !important; 
  }

  .choices__list {
    color: $dark-green;
  }