.cards {
  padding: 10px;
}

.card {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: whitesmoke;
  margin-bottom: 15px;
}


.card-content {
  position: relative;
  padding: 20px;
  background-size: cover;
  background-image: url(plantest.png);
  padding-top: 100%;
  overflow: hidden;
  padding-bottom: 15px;
}
