.card-pot{
  background-size: cover;
  background-position: center;
  height: 200px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-pot-contain{
  background-size: cover;
  background-position: center;
  height: 187px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.card-pot-contain img {
  height: 150px;
}

.card-pot-footer{
  padding:5px;
  font-weight:300;
  position: absolute;
  bottom: 0px;
  left:0;
  right: 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: space-between;
}

.card-pot-active{
  border-color: #76e17a;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(39, 176, 44, 0.25);
}

.card-pot-price{
  color:$dark-green;
  font-weight:500;
}
