.card-pot{
  background-size: cover;
  background-position: center;
  height: 200px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-pot-contain{
  background-size: cover;
  background-position: center;
  height: 187px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.card-pot-contain img {
  height: 150px;
}

.card-pot-footer{
  font-weight:300;
  position: absolute;
  bottom: 0px;
  left:0;
  right: 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
}