.card-order {
  margin-top: 20px;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}


.profile-container hr {
  margin-bottom: 0px;
}
.card-order img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-order h3 {
  margin-top: 0px;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-order p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-order .card-order-infos {
  padding: 16px;
}

.card-order-infos{
  flex-grow: 1;
}

.card-order-status{
  width: 120px;
}