/* Main navbar */
.navbar-bg {
  background-color: $dark-gray;
}

.img-navbar {
  width: 170px;
}
.nav-item{
  height: 35px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  &:hover {
    opacity: 0.5;
  }
}