<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 offset-sm-4">
      <h1>Products#new</h1>
      <%= simple_form_for @product do |f|%>
        <%= f.input :category_id, collection: Category.all %>
        <div class="col hidden" id="form_create_plant" >
          <h2>Plante</h2> 
          <label>Taxref Official Id (number)</label>
          <input type="text" name="details[id_code]"></input>
          <label>Taxref Superior Id (number)</label>
          <input type="text" name="details[id_sup]"></input>
          <label>Family</label>
          <input type="text" name="details[family]"></input>
          <label>Gender</label>
          <input type="text" name="details[gender]"></input>
          <label>Species</label>
          <input type="text" name="details[species]"></input>
          <label>Cultivar</label>
          <input type="text" name="details[cultivar]"></input>
          <label>Variant</label>
          <input type="text" name="details[variant]"></input>
          <label>Description</label>
          <input type="text" name="details[description]"></input>
          <label>Sun exposure</label>
          <input type="text" name="details[sun_exposure]"></input>
          <label>Watering</label>
          <input type="text" name="details[watering]"></input>
        </div>
   
        <div class="col hidden" id="form_create_pot">
          <h2>Pot</h2> 
          <label>Name</label>
          <input type="text" name="details[name]"></input>
          <label>Material</label>
          <input type="text" name="details[material]"></input>
          <label>Color</label>
          <input type="text" name="details[color]"></input>
        </div>

        <div>
          <%= f.submit "add", class: "btn btn-primary" %>
        </div>
      <% end %>
      
    </div>
  </div>
</div>